@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto");
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.showcase {
  max-width: 96rem;
  height: 100%;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 5rem; }
  .showcase__title {
    font-size: 6rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1rem;
    padding-left: 1rem;
    font-weight: 700;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    padding-bottom: 2rem; }
  .showcase__image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -40rem;
    opacity: 0; }
  .showcase__item {
    display: block;
    position: relative;
    text-align: center;
    max-width: 38rem;
    margin: 0 auto;
    z-index: 1000;
    margin-bottom: 25rem; }
    .showcase__item:not(:first-child) {
      margin-top: 20rem; }
    .showcase__item--main-title {
      font-size: 6rem;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      cursor: pointer;
      color: black;
      z-index: 10000;
      -webkit-text-fill-color: black;
      /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: white; }
      .showcase__item--main-title a {
        text-decoration: none;
        -webkit-text-fill-color: transparent;
        /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white; }
        .showcase__item--main-title a:hover {
          color: white;
          -webkit-text-fill-color: white;
          /* Will override color (regardless of order) */
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: transparent; }
    .showcase__item--subtitle {
      font-size: 1.3rem;
      position: absolute;
      top: 20rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-text-fill-color: #fff;
      /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 0px;
      -webkit-text-stroke-color: transparent; }

.fix-weather {
  top: 14rem; }

.fix-wiki {
  top: 8rem; }

.heading:hover + .showcase__image {
  -webkit-animation: fromLeft 8s cubic-bezier(0, 0.78, 1, 0.13) 0.5s;
  animation: fromLeft 8s cubic-bezier(0, 0.78, 1, 0.13) 0.5s; }

.heading:hover ~ .showcase__item--subtitle {
  font-size: 0; }

.heading:hover ~ .showcase__item--subtitle::after {
  content: attr(data-hover);
  font-size: 1.5rem; }

@-webkit-keyframes fromLeft {
  0% {
    opacity: 0;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); }
  40% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    opacity: 1; }
  100% {
    left: 40rem;
    opacity: .5;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); } }

@keyframes fromLeft {
  0% {
    opacity: 0;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); }
  40% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    opacity: 1; }
  100% {
    left: 40rem;
    opacity: .5;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); } }

.landing {
  height: 100vh;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  padding-bottom: 20rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1rem;
  padding-left: 1rem;
  font-weight: 700;
  z-index: 1000; }
  .landing h1 {
    font-size: 7rem;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.navbar {
  height: 9rem;
  width: 100%;
  position: fixed;
  z-index: 100000; }
  .navbar-buttons {
    position: fixed;
    top: 7%;
    left: 90%;
    width: 10%;
    height: 3rem;
    text-align: center;
    float: right;
    margin-right: 4rem; }
    .navbar-buttons img {
      height: 100%; }

.overlay {
  position: fixed;
  background-color: #e0e0e0;
  background-image: url("https://www.transparenttextures.com/patterns/washi.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  -o-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 1000000;
  font-family: "Poppins", sans-serif; }

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%; }

.overlay .nav-title {
  font-size: 4rem;
  letter-spacing: 1rem;
  color: #2c2c2c;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  top: 8%;
  background: -webkit-gradient(linear, left top, right top, from(#fdbb2d), color-stop(#b21f1f), to(#1a2a6c));
  background: -webkit-linear-gradient(left, #fdbb2d, #b21f1f, #1a2a6c);
  background: -o-linear-gradient(left, #fdbb2d, #b21f1f, #1a2a6c);
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.overlay nav {
  position: relative;
  height: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1rem; }

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  top: -3rem; }

.overlay ul li {
  display: block;
  position: relative;
  opacity: 0;
  margin-bottom: 50px; }

.overlay ul li a {
  display: block;
  position: relative;
  background: -webkit-gradient(linear, right top, left top, from(#fdbb2d), color-stop(#b21f1f), to(#1a2a6c));
  background: -webkit-linear-gradient(right, #fdbb2d, #b21f1f, #1a2a6c);
  background: -o-linear-gradient(right, #fdbb2d, #b21f1f, #1a2a6c);
  background: linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  overflow: hidden; }

.overlay ul li a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 43.5%;
  width: 0%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  -o-transition: .35s;
  transition: .35s; }

.overlay ul li a:hover,
.overlay ul li a:focus,
.overlay ul li a:active {
  color: #1d1d1d; }

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
  background: #ffffff; }

.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
  animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
  animation-delay: .35s; }

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s; }

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
  animation-delay: .45s; }

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
  animation-delay: .50s; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

button:focus {
  outline: 0; }

.close-menu {
  padding-left: .3rem;
  position: relative;
  top: -3rem; }

.open-menu,
.close-menu,
.button {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.30s;
  transition: -webkit-transform 0.30s;
  -o-transition: transform 0.30s;
  transition: transform 0.30s;
  transition: transform 0.30s, -webkit-transform 0.30s; }

.open-menu:hover,
.close-menu:hover,
.button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

@media (max-width: 670px) {
  .overlay nav {
    font-size: 30px; } }

@media (max-width: 550px) {
  .overlay nav {
    font-size: 20px; } }

.border-about {
  width: 100%;
  height: 3rem;
  opacity: .8;
  background: #1a2a6c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#fdbb2d), color-stop(#b21f1f), to(#1a2a6c));
  background: -webkit-linear-gradient(right, #fdbb2d, #b21f1f, #1a2a6c);
  background: -o-linear-gradient(right, #fdbb2d, #b21f1f, #1a2a6c);
  background: linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-bottom: 7rem;
  -webkit-box-shadow: 0 0.2rem 0.3rem rgba(44, 44, 44, 0.582);
  box-shadow: 0 0.2rem 0.3rem rgba(44, 44, 44, 0.582); }

.about {
  height: 100%;
  width: 100%;
  background: #1a2a6c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#fdbb2d), color-stop(#b21f1f), to(#1a2a6c));
  background: -webkit-linear-gradient(left, #fdbb2d, #b21f1f, #1a2a6c);
  background: -o-linear-gradient(left, #fdbb2d, #b21f1f, #1a2a6c);
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 0rem;
  padding-bottom: 15rem;
  margin-top: -15rem;
  -webkit-clip-path: polygon(0 0, 0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
  clip-path: polygon(0 0, 0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
  z-index: -2; }
  .about__content {
    max-width: 96rem;
    margin: 0 auto;
    text-align: center;
    color: #fff; }
    .about__content--heading1 {
      font-family: "Poppins", sans-serif;
      font-size: 4rem;
      padding-bottom: 3rem;
      text-transform: uppercase; }
    .about__content--aboutParagraph {
      font-family: "Roboto", sans-serif;
      font-size: 2rem;
      line-height: 3rem;
      padding-bottom: 3rem; }
    .about__content--codestatsLink {
      font-family: "Raleway", sans-serif;
      font-size: 2rem;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-bottom: 2rem;
      line-height: 4rem; }
      .about__content--codestatsLink a {
        text-decoration: none;
        color: #fff;
        background-color: crimson;
        margin-left: 1rem;
        display: block;
        width: 13rem;
        margin: 0 auto;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        padding: .1rem; }
        .about__content--codestatsLink a:hover {
          -webkit-transform: rotate(-5deg) scale(1.3);
          -ms-transform: rotate(-5deg) scale(1.3);
          transform: rotate(-5deg) scale(1.3);
          -webkit-box-shadow: 0 1rem 2rem rgba(26, 26, 26, 0.4);
          box-shadow: 0 1rem 2rem rgba(26, 26, 26, 0.4); }
    .about__content--chart {
      display: block;
      width: 80%;
      margin: 0 auto; }
    .about__content--githubHeading {
      font-family: "Raleway", sans-serif;
      font-size: 2rem;
      padding-top: 3rem;
      line-height: 4rem; }
      .about__content--githubHeading a {
        text-decoration: none;
        color: #fff;
        display: block;
        width: 8rem;
        padding: 1rem;
        margin: 0 auto;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        background-color: crimson; }
        .about__content--githubHeading a:hover {
          -webkit-transform: rotate(-5deg) scale(1.3);
          -ms-transform: rotate(-5deg) scale(1.3);
          transform: rotate(-5deg) scale(1.3);
          -webkit-box-shadow: 0 1rem 2rem rgba(26, 26, 26, 0.4);
          box-shadow: 0 1rem 2rem rgba(26, 26, 26, 0.4); }

.contacts {
  height: 100%;
  position: relative;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background: #1a2a6c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#fdbb2d), color-stop(#b21f1f), to(#1a2a6c));
  background: -webkit-linear-gradient(left, #fdbb2d, #b21f1f, #1a2a6c);
  background: -o-linear-gradient(left, #fdbb2d, #b21f1f, #1a2a6c);
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 12%);
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 12%); }
  .contacts__area {
    display: block;
    max-width: 96rem;
    margin: 0 auto;
    text-align: center; }
    .contacts__area--title h1 {
      font-size: 4rem;
      color: #fff;
      font-family: "Poppins", sans-serif;
      margin-bottom: 3rem;
      text-transform: uppercase;
      letter-spacing: 1rem; }
    .contacts__area--types .email-tel {
      list-style: none;
      font-size: 2rem;
      color: #fff;
      font-family: "Roboto", sans-serif;
      line-height: 3rem;
      background: #1a2a6c;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c);
      /* Chrome 10-25, Safari 5.1-6 */
      background: -webkit-gradient(linear, right top, left top, from(#fdbb2d), color-stop(#b21f1f), to(#1a2a6c));
      background: -webkit-linear-gradient(right, #fdbb2d, #b21f1f, #1a2a6c);
      background: -o-linear-gradient(right, #fdbb2d, #b21f1f, #1a2a6c);
      background: linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      padding: 3rem;
      display: block;
      width: 40%;
      margin: 0 auto;
      letter-spacing: .2rem; }
      .contacts__area--types .email-tel li span {
        font-family: "Raleway", sans-serif;
        font-weight: 400; }
    .contacts__area--types .social {
      margin-top: 3rem;
      list-style: none;
      font-size: 3rem;
      display: block; }
      .contacts__area--types .social li a {
        color: #fff;
        display: inline-block;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
        text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2); }
        .contacts__area--types .social li a:not(:first-child) {
          margin-left: 1rem; }
        .contacts__area--types .social li a:hover {
          color: #e0e0e0;
          -webkit-transform: rotate(-5deg) scale(1.7);
          -ms-transform: rotate(-5deg) scale(1.7);
          transform: rotate(-5deg) scale(1.7); }

.effect2 {
  position: relative; }

.effect2:before, .effect2:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #111111;
  -webkit-box-shadow: 0 15px 10px #111111;
  box-shadow: 0 15px 10px #111111;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg); }

.effect2:after {
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto; }

html, body {
  font-size: 75%; }

body {
  -webkit-box-shadow: inset 0 0 200px 50px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 200px 50px rgba(0, 0, 0, 0.6);
  background-color: #1a1a1a;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
  background-attachment: fixed;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.text-shadow-black {
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2); }
