.about {
    height: 100%;
    width: 100%;
    background: #1a2a6c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 20rem;
    padding-bottom: 15rem;
    margin-top: -15rem;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0% 90%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0% 90%, 0 0);
    z-index: -2;


    &__content {
        max-width: 96rem;
        margin: 0 auto;
        text-align: center;
        color: $white;

        &--heading1 {
            font-family: $title-font;
            font-size: 4rem;
            padding-bottom: 3rem;
            text-transform: uppercase;
        }

        &--aboutParagraph {
            font-family: $content-font;
            font-size: 2rem;
            line-height: 3rem;
            padding-bottom: 3rem;
        }

        &--codestatsLink {
            font-family: $subtitle-font;
            font-size: 2rem;
            justify-content: center;
            padding-bottom: 2rem;
            line-height: 4rem;

            & a {
                text-decoration: none;
                color: $white;
                background-color: crimson;
                margin-left: 1rem;
                display: block;
                width: 13rem;
                margin: 0 auto;
                transition: all .3s;
                padding: .1rem;

                &:hover {
                    transform: rotate(-5deg) scale(1.3);
                    box-shadow: 0 1rem 2rem rgba($black, .4); 
                }
            }
        }

        &--chart {
            display: block;
            width: 80%;
            margin: 0 auto;
            //background-color: red;
        }

        &--githubHeading {
            font-family: $subtitle-font;
            font-size: 2rem;
            padding-top: 3rem;
            line-height: 4rem;

            & a {
                text-decoration: none;
                color: $white;
                display: block;
                width: 8rem;
                padding: 1rem;
                margin: 0 auto;
                transition: all .3s;
                
                background-color: crimson; 

                &:hover {
                    transform: rotate(-5deg) scale(1.3);
                    box-shadow: 0 1rem 2rem rgba($black, .4);
                }
            }
        }
    }
    
}