.contacts {
    height: 100%;
    position: relative;
    padding-top: 10rem;
    padding-bottom: 10rem;
    //background-color: crimson;
    background: #1a2a6c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 12%);
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 12%);

    &__area {
        display: block;
        max-width: 96rem;
        margin: 0 auto;
        text-align: center;

        &--title {
            & h1{
                font-size: 4rem;
                color: $white;
                font-family: $title-font;
                margin-bottom: 3rem;
                text-transform: uppercase;
                
            }
        }

        &--types {

            & .email-tel {
                list-style: none;
                font-size: 2rem;
                color: $white;
                font-family: $content-font;
                line-height: 3rem;

                & li {
                    & span {
                        font-family: $subtitle-font;
                        font-weight: 400;
                    }
                }
            }

            & .social {
                margin-top: 3rem;
                list-style: none;
                font-size: 3rem;
                display: block;

                & li {
                    a {
                        color: $white;
                        display: inline-block;
                        transition: all .4s;

                        &:not(:first-child){
                            margin-left: 1rem;
                        }

                        &:hover {
                            color: rgb(224, 224, 224);
                            transform: rotate(-5deg) scale(1.7);
                        }
                    }
                }
            }


        }
    }

}