.landing {
    height: 100vh;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
    padding-bottom: 20rem;
    font-family: $title-font;
    letter-spacing: 1rem;
    padding-left: 1rem;
    font-weight: 700;
    z-index: 1000;

    & h1 {
        font-size: 7rem;
        color: #fff;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}