.showcase {
    max-width: 96rem;
    height: 100%;
    margin: 0 auto;
    padding-top: 15rem;
    padding-bottom: 30rem;


    &__image {
        position: absolute;
        z-index: -1;
        top: 0;
        left: -40rem;
        opacity: 0;
    }


    &__item {
        display: block;
        position: relative;
        text-align: center;
        max-width: 38rem;
        margin: 0 auto;
        z-index: 1000;

        &:not(:first-child) {
            margin-top: 30rem;
        }
        
        &--main-title {
            font-size: 6rem;
            text-transform: uppercase;
            font-family: $title-font;
            font-weight: 700;
            cursor: pointer;
            color: black;
            z-index: 10000;
            -webkit-text-fill-color: black; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: white;

            & a{
                text-decoration: none;
                -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: white;

                &:hover {
                    color: white;
                    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
                    -webkit-text-stroke-width: 2px;
                    -webkit-text-stroke-color: transparent;
                }
            }



            
        }

        &--subtitle {
            font-size: 1.5rem;
            position: absolute;
            top: 20rem;
            left: 50%;
            transform: translateX(-50%);
            -webkit-text-fill-color: $white; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 0px;
            -webkit-text-stroke-color: transparent;
        }
    }
}

.fix-weather {
    top: 14rem;
}


.heading:hover + .showcase__image {
    animation: fromLeft 8s cubic-bezier(0,.78,1,.13) .5s;
}

.heading:hover ~ .showcase__item--subtitle {
    font-size: 0,
}

.heading:hover ~ .showcase__item--subtitle::after {
    content: attr(data-hover);
    font-size: 1.5rem;
}

