@import url('https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400');

// Variables 
$title-font: 'Poppins', sans-serif;
$content-font: 'Roboto', sans-serif;
$subtitle-font: 'Raleway', sans-serif;
$black: rgb(26, 26, 26);
$white: #fff;


// Import content
@import "reset";
@import "showcase";
@import "animations";
@import "landing";
@import "navbar";
@import "about";

// Basic styles
html, body {
    font-size: 75%;
}

body {
    background-color: $black;
    box-shadow: inset 0 0 200px 50px rgba(0, 0, 0, .6);
    box-sizing: border-box;
}

// Utilities
